node_modules
.env
.env.*
!.env.example

.pnpm-store

dist
coverage

.turbo

.DS_Store

apps/*/node_modules
packages/*/node_modules
services/*/node_modules

apps/*/.next
apps/*/dist
apps/*/coverage

infra/docker/env/*.env
