PORT=2900
NODE_ENV=development
MONGODB_URI=mongodb://mongo:27017/meroghar

sessionSecret=replace-me
saltRounds=8
accessToken=replace-me
refreshToken=replace-me
accessTokenExpire=1800s
refreshTokenExpire=7d

googleClientId=replace-me
googleClientSecret=replace-me
facebookClientId=replace-me
facebookClientSecret=replace-me

user=replace-me
pass=replace-me
mailSecret=replace-me
